body{
	background: url(../img/news_img/landscape5.jpg) no-repeat;
	background-size: 100%;
}
._table a:nth-of-type(2) span{
	width: 0px;
}
._table a:nth-of-type(2):hover span{
	width: 38px;
}
._table a:nth-of-type(5) span{
	width: 38px;
}
.invite{
	width: 1197px;
	height: 363px;
	position: absolute;
	bottom: 60px;
	right: 67px;
	transition: 1s;
}
.invite_img{
	width: 367px;
	height: 270px;
	float: left;
	margin-top: 32px;
}
.invite_img img{
	width: 367px;
	height: 240px;
}
.invite_img{
	text-align: center;
	line-height: 40px;
}
.numbers{
	width: 83px;
	height: 62px;
	border: 3px solid #b3aead;
	position: absolute;
	top: 108px;
	left: 320px;
	z-index: 1;
	color: white;
	font-size: 60px;
	text-align: center;
	line-height: 62px;
	font-weight: bold;
}
._uls{
	position: absolute;
	top: 0px;
	left: 367px;
	width: 512px;
	margin-top: 32px;
}
._uls li{
	text-align: center;
	margin-bottom: 20px;
}
._uls li a{
	color: white;
	cursor: pointer;
	padding: 7px 10px;
}
._uls li:nth-of-type(1) a{
	background-color: #aec23f;
}
._uls li a:hover{
	background-color: #aec23f;
}
.invite_right{
	width: 300px;
	padding-bottom: 40px;
	border: 3px solid #a19995;
	float: right;
	position: relative;
	/*transition: 0.3s linear;*/
}
.three{
	width: 0px;
	height: 0px;
	border: 10px solid transparent;
	border-right-color: #a19995;
	margin-left: -23px;
	position: absolute;
	top: 25px;
	left: 0px;
	transition: .5s linear;
}
._h{
	color: white;
	font-size: 20px;
	padding-left: 28px;
	margin-top: 30px;
}
.invite_ul li{
	padding-left: 20px;
	line-height: 28px;
	color: #959797;
}
._click{
	position: absolute;
	height: 31px;
	top: 80px;
	right: 175px;
}
.click_left{
	width: 16px;
	height: 31px;
	float: left;
	background: url(../img/life_img/a1.png);
	background-size: 16px 31px;
	cursor: pointer;
}
.click_left:hover{
	background: url(../img/life_img/a2.png);
	background-size: 16px 31px;
}
.click_right{
	width: 16px;
	height: 31px;
	float: right;
	background: red;
	background: url(../img/life_img/a1.png);
	background-size: 16px 31px;
	transform: rotateY(180deg);
	cursor: pointer;
}
.click_right:hover{
	background: url(../img/life_img/a2.png);
	background-size: 16px 31px;
	transform: rotateY(180deg);
}
.click_center{
	font-size: 12px;
	font-style: italic;
	line-height: 31px;
	padding: 0 25px;
}
._bottom_a{
	display: block;
}