body{
	background: url(../img/news_img/landscape5.jpg) no-repeat;
	background-size: 100%;
}
._table a:nth-of-type(2) span{
	width: 0px;
}
._table a:nth-of-type(2):hover span{
	width: 38px;
}
._table a:nth-of-type(4) span{
	width: 38px;
}
.news{
	width: 1024px;
	height: 367px;
	position: absolute;
	bottom: 0px;
	right: 130px;
	transition: 1s;
}
.border_img{
	float: left;
	width: 187px;
	height: 246px;
	border: 2px solid #464749;
	position: relative;
}
.border_img img{
	width: 187px;
	height: 246px;
	margin: 10px;
	box-shadow: 0px 0px 5px #ccc;
	transform: scale(0);
	transition: 1s;
	opacity: 0;
}
.border_img img:hover{
	box-shadow: 0px 0px 15px red;
}
.news_content{
	width: 322px;
	height: 260px;
	float: left;
	margin-left: 115px;
}
.news_h1{
	font-size: 45px;
}
.news_h2{
	margin-bottom: 10px;
	font-size: 12px;
}
.news_h2 span{
	font-size: 28px;
}
.news_a{
	font-size: 12px;
	color: #717577;
	line-height: 28px;
}
.news_a span{
	display: block;
	color: white;
	font-size: 20px;
}
.news_a em{
	display: block;
}
.news_a:hover span{
	color: #828e35;
}
.news_p{
	width: 348px;
	height: 236px;
	float: right;
	position: relative;
}
.news_table{
	position: absolute;
	top: -500px;
	left: 0px;
	opacity: 0;
	transition: 2s;
}
.news_table img{
	width: 100px;
	height: 100px;
	margin-right: 20px;
	transition: 1s;
}
.news_table a:hover img{
	box-shadow: 0px 0px 15px #ccc;
}
.news_table span{
	display: inline-block;
	width: 228px;
	height: 100px;
}
.news_p a{
	display: block;
	margin-bottom: 36px;
}
.em_h1{
	color: white;
	font-size: 16px;
	display: block;
	line-height: 27px;
}
.em_h2{
	color: white;
	font-size: 14px;
	display: block;
	line-height: 17px;
	margin-top: 4px;
}
.em_p{
	color: #86898d;
	font-size: 12px;
	line-height: 19px;
} 
.news_table a:hover .em_h1{
	color: #828e35;
}
._bottom{
	display: none;
}
._bottom_a{
	display: block;
}



._click{
	position: absolute;
	height: 31px;
	top: 80px;
	right: 175px;
}
.click_left{
	width: 16px;
	height: 31px;
	float: left;
	background: url(../img/life_img/a1.png);
	background-size: 16px 31px;
	cursor: pointer;
}
.click_left:hover{
	background: url(../img/life_img/a2.png);
	background-size: 16px 31px;
}
.click_right{
	width: 16px;
	height: 31px;
	float: right;
	background: red;
	background: url(../img/life_img/a1.png);
	background-size: 16px 31px;
	transform: rotateY(180deg);
	cursor: pointer;
}
.click_right:hover{
	background: url(../img/life_img/a2.png);
	background-size: 16px 31px;
	transform: rotateY(180deg);
}
.click_center{
	font-size: 12px;
	font-style: italic;
	line-height: 31px;
	padding: 0 25px;
}